<a href="http://2016doneright.com" target="_blank" class="w-inline-block link_back_button">
  <img src='/assets/pavlik_face.jpg' class="pavlik" >
    <h4 class="link_text">"Learn to design, code and deploy<br>this application together with <br>Tesla, Instagram, Twitter <br>and 2016doneright versions for<br>59,90$ and 4,999 hours <br>of my time in 2016." <br><br> Failure is not an option, that's why.</h4>
  </a>
